@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* ignore this */
  --primary-font-color: #000;
  --primary-font-style: "Poppins";
  --primary-body-color: #fff;

  --card-bg:#f0f8ff;
  --card-hover-bg: #5fa9e9;
  --card-hover-bg2: #d3cca3;

  --primary-hover-color: rgb(44, 44, 44);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-font-color);
  font-family: var(--primary-font-style);
}

body {
  /* width: 80%; */
  margin: auto;
}

section{
  width: 80%;
  margin: auto;
}


header li,a,button{
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}

.logo{
  cursor: pointer;
  font-size: calc(16*3px);
  margin-right: 10px;
}

header h3{
  cursor: pointer;
  font-size: calc(16*3px);
  margin-right: auto;
}

.nav__links{
  list-style: none;

}

.nav__links li{
display: inline-block;
padding: 0px 20px;

}

.nav__links li a{
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color:var(--primary-hover-color);
  
}

header button{
  padding: 9px 25px;
  background-color: var(--primary-font-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

header button:hover{
  background-color: var(--primary-hover-color);
}

.hero h6 {
  font-size: 1rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero form{
  margin-top: 1rem;
  display: flex;
  border: 1px solid var(--primary-font-color);
  width: fit-content;
  border-radius: 4px;
}


.hero button,input{
  font-size: 1.5rem;
  border: none;
  background: var(--card-bg);
  border-radius: 4px;
  padding: 4px 8px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
}

.hero__img img {
  width: 100%;
}

.hero__img {
  width: 50%;
}

@media screen and (max-width: 1280px) {
  .hero{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
  }

  .hero__img img {
    width: 80%;
    margin: auto;
    display: flex;
}

.hero__title {
  width: 100%;
}

}




@media screen and (max-width: 1080px) {
  .cards__container {
    /* width: 10rem; */
  }

  .cards {
    
  }
}
@media screen and (max-width: 1496px) {
  .cards__container {
    /* width: 10rem; */
  }

  .cards {
    justify-content: center;
  }


}
@media screen and (max-width: 800px) {
  .cards__container {
    /* width: 10rem; */
    height: calc(16*16px);
  }

  .cards {
    justify-content: center;
    
  }
}


.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc(18*16px);
  background-color: var(--card-bg);
  border-radius: 8px;
  /* padding: 0 2rem 1.5rem 2rem; */
  cursor: pointer;
  height: calc(23*16px);
  
  transition: all 1s ease-out 0s;

  margin: 1rem 1rem;
}

.cards__container:hover {
  background-color: var(--card-hover-bg);
  transition: all 0.3s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
}

.cards__container i {
  font-size: 5rem;
}
.cards__container h3 {
  font-size: 2rem;
  
}
.cards__container p {
  font-size: 1rem;
}


.cards {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 80%; */
  
}

.subject_cards{
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8rem auto;
  width: 100%;
}

.subject_cards h2{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}







.trending{

  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8rem auto;
}

.trending h2{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  
}

.course_card img{
  width: 100%;
  /* transform: scale(1.2); */
}

.course_card {
  
  border-radius: 8px;
  height: calc(23*16px);
  width: calc(18*16px);
  background-color: var(--card-bg);
  padding: 0 1rem 1rem 1rem;
  transition: all 1s ease-out 0s;
  cursor:pointer;
  margin: 1rem 1rem;

  justify-content: space-around;
}

.course_card h3{
margin-top: 1rem;
}

.course_card:hover {
  background-color: var(--card-hover-bg2);
  transition: all 0.3s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.course_card__container {
  display: flex;
  align-items: center;
  /* width: 80%; */
  margin: auto;
  flex-wrap: wrap;
}





.pricing h2{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  
}


.pricing{
  /* height: 100vh; */
 

  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8rem auto;
}
.pricing__container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.outer_card {
  background-color: lavenderblush;
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 8px;

  transition: all 1s ease-out 0s;
  margin: 1rem 1rem;
  
}

.outer_card > i {
  font-size: 5rem;
  align-self: center;
  
}

.inner_card {
  background-color: aliceblue;
  border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
  padding: 1rem;
}

.inner_card button {
  color: #fff;
  background-color: #000;
  border: #000 solid 2px;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}

.inner_card h3{
  font-size: 2rem ;
}


.inner_card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__container {
  display: flex;
  flex-direction: column;
}

.offer {
  display: flex;
  padding-top: 1rem;
}

.offer p {
  margin-left: 0.5rem;
 
}

.inner_card span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.footer__logo i{
  margin-right: 10px;
}

.footer__socials{
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  width: 70%;
  margin: 2rem auto;
}

.footer__copyright{
  display: flex;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer__copyright p{
  margin-left: 2px;
  
}




@media screen and (max-width: 1496px) {
  .course_card__container{
    flex-wrap: wrap;
    justify-content: center;
  }
}

