@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* ignore this */
  --primary-font-color: #000;
  --primary-font-style: "Poppins";
  --primary-body-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-font-color);
  font-family: var(--primary-font-style);
}

body {
  width: 80%;
  margin: auto;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

header ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
}

header a {
  text-decoration: none;
  margin-right: 1rem;
}

.header__buttons {
  display: flex;
}

header {
  display: flex;
  background-color: lavenderblush;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

header button {
  background-color: #000;
  color: #fff;
  border: #000 solid 2px;
  border-radius: 4px;

  margin-right: 1rem;
  width: 8rem;
  height: 2rem;
}

header .uil-bars {
  color: #fff;
  font-size: 1rem;
}

header .nav__menu {
  width: 2rem;
}

.header__options__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__hr {
  width: 90%;
  margin: auto;
}

.hero h6 {
  font-size: 1rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.hero__img img {
  width: 100%;
}

.hero__img {
  width: 50%;
}

.hero button {
}

.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0 2rem 1.5rem 2rem;
}

.cards__container i {
  font-size: 5rem;
}
.cards__container h3 {
  font-size: 2rem;
}
.cards__container p {
  font-size: 1rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  
}

.subject_cards{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subject_cards h2{
  font-size: 3rem;
  text-align: center;
}

.trending{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.trending h2{
  font-size: 3rem;
  text-align: center;
}

.course_card img {
  width: 100%;
  transform: scale(1.2);
}

.course_card {
  width: 18rem;
  border-radius: 10px;
}

.course_card {
  background-color: aliceblue;
  padding: 0 1rem 1rem 1rem;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.course_card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pricing__container{
  display: flex;
  justify-content: space-between;
}

.outer_card {
  background-color: lavenderblush;
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 10px;
  
}

.outer_card > i {
  font-size: 5rem;
  align-self: center;
  
}

.inner_card {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1rem;
}

.inner_card button {
  color: #fff;
  background-color: #000;
  border: #000 solid 2px;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
}

.inner_card h3{
  font-size: 2rem ;
}


.inner_card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__container {
  display: flex;
  flex-direction: column;
}

.offer {
  display: flex;
  padding-top: 1rem;
}

.offer p {
  margin-left: 0.5rem;
}

.inner_card span {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.footer__logo i{
  margin-right: 10px;
}

.footer__socials{
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  width: 70%;
  margin: 2rem auto;
}

.footer__copyright{
  display: flex;
  font-size: 1rem;
}
@media screen and (max-width: 1080px) {
  .cards__container {
    width: 10rem;
  }

  .cards {
    flex-wrap: wrap;
  }
}

